{% set colors = ['red', 'blue', 'cyan', 'orange', 'yellow', 'lime', 'emerald', 'purple', 'pink', 'stone', 'slate'] %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Battle</title>
    <script src="{{ url_for('static', filename='tailwind.js') }}"></script>
    <style>
    .memory-grid {
      display: grid;
      width: 100%;
      height: 65vh;
      grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
      gap: 2px;
    }
    .memory-cell {
      background: #334155;
    }
    .memory-cell:hover {
      background: #64748b;
      transition: background-color 0.2s;
    }
    </style>
  </head>
  <body class="bg-gray-900 text-gray-100 font-mono">
    <div class="container mx-auto px-4 py-5">
      <h1 class="text-3xl text-center font-bold mb-6 text-white">Memory Battle Arena</h1>
      <div class="memory-grid">
        {% for i in range(0, memory_size) %}
        <div class="memory-cell bg-gray-700 rounded hover:bg-gray-600 transition duration-150 ease-in-out
          {% if memory.safely_read_int(i) != 0 %}bg-red-300{% endif %}">
        </div>
        {% endfor %}
      </div>
      <div class="flex flex-nowrap justify-around w-full mt-4 h-25">
        {% for process in processes %}
        {% set color = colors[loop.index % (colors | length)] %}
        <div class="flex-auto p-4 bg-gray-800 rounded-lg shadow m-2">
          <h2 class="text-lg font-semibold text-{{color}}-400 mb-2">
            Player {{process.name | e}}
            {% if not process.is_alive %}
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff" class="inline-flex"><path d="M240-80v-170q-39-17-68.5-45.5t-50-64.5q-20.5-36-31-77T80-520q0-158 112-259t288-101q176 0 288 101t112 259q0 42-10.5 83t-31 77q-20.5 36-50 64.5T720-250v170H240Zm80-80h40v-80h80v80h80v-80h80v80h40v-142q38-9 67.5-30t50-50q20.5-29 31.5-64t11-74q0-125-88.5-202.5T480-800q-143 0-231.5 77.5T160-520q0 39 11 74t31.5 64q20.5 29 50.5 50t67 30v142Zm100-200h120l-60-120-60 120Zm-80-80q33 0 56.5-23.5T420-520q0-33-23.5-56.5T340-600q-33 0-56.5 23.5T260-520q0 33 23.5 56.5T340-440Zm280 0q33 0 56.5-23.5T700-520q0-33-23.5-56.5T620-600q-33 0-56.5 23.5T540-520q0 33 23.5 56.5T620-440ZM480-160Z"/></svg>
            {% endif %}
                      
          </h2>
          {% for memory_cell in range(process._ip - 2, process._ip + 3) %}
          {% set memory_cell = memory_cell % memory_size %}
          {% set instruction = (memory_cell | memory_safe_read) %}
          <pre class="text-green-300 {% if loop.index == 3 %}bg-{{color}}-600{% endif %}">{{ instruction }}</pre>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
