      <div class="flex justify-center items-center space-x-2 bg-gray-900">
        <button id="controller-first" class="flex gap-2 bg-blue-500 hover:bg-blue-600 active:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300 text-white font-bold py-2 px-4 rounded shadow transition duration-300 ease-in-out"
                aria-label="First">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-current" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M240-240v-480h80v480h-80Zm440 0L440-480l240-240 56 56-184 184 184 184-56 56Z"/></svg>
        </button>
        <button id="controller-back" class="flex gap-2 bg-blue-500 hover:bg-blue-600 active:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300 text-white font-bold py-2 px-4 rounded shadow transition duration-300 ease-in-out"
                aria-label="Back">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-current" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M220-240v-480h80v480h-80Zm520 0L380-480l360-240v480Zm-80-240Zm0 90v-180l-136 90 136 90Z"/></svg>
        </button>
        <button id="controller-pause" class="flex gap-2 bg-gray-500 hover:bg-gray-600 active:bg-gray-700 focus:outline-none focus:ring focus:ring-gray-300 text-white font-bold py-2 px-4 rounded shadow transition duration-300 ease-in-out"
                aria-label="Pause">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-current" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M520-200v-560h240v560H520Zm-320 0v-560h240v560H200Zm400-80h80v-400h-80v400Zm-320 0h80v-400h-80v400Zm0-400v400-400Zm320 0v400-400Z"/></svg>
        </button>
        <button id="controller-play" class="hidden flex gap-2 bg-green-500 hover:bg-green-600 active:bg-green-700 focus:outline-none focus:ring focus:ring-green-300 text-white font-bold py-2 px-4 rounded shadow transition duration-300 ease-in-out"
                aria-label="Play">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-current" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M320-200v-560l440 280-440 280Zm80-280Zm0 134 210-134-210-134v268Z"/></svg>
        </button>
        <button id="controller-next" class="flex gap-2 bg-blue-500 hover:bg-blue-600 active:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300 text-white font-bold py-2 px-4 rounded shadow transition duration-300 ease-in-out"
                aria-label="Next">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-current" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M660-240v-480h80v480h-80Zm-440 0v-480l360 240-360 240Zm80-240Zm0 90 136-90-136-90v180Z"/></svg>
        </button>
        <button id="controller-last" class="flex gap-2 bg-blue-500 hover:bg-blue-600 active:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300 text-white font-bold py-2 px-4 rounded shadow transition duration-300 ease-in-out"
                aria-label="Last">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-current" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m280-240-56-56 184-184-184-184 56-56 240 240-240 240Zm360 0v-480h80v480h-80Z"/></svg>
        </button>
        <script defer src="{{ url_for('static', filename='controllers.js') }}"></script>
      </div>
